<h1> New Group </h1>
<br>
<%= form_for @group do |f| %>
  <%= f.label :name %>:
  <%= f.text_field :name, required: true %><br>

  <%= f.label :security_question %>:
  <%= f.text_field :security_question, required: true %><br>

  <%= f.label :security_answer %>:
  <%= f.text_field :security_answer, required: true %><br>

  <%= f.submit %>
<% end %>
