<h1> New Prayer Request </h1>
<%= form_for @prayer do |f| %>
  <%= f.label :title %>:
  <%= f.text_field :title, required: true %><br>

  <%= f.label :description %>:
  <%= f.text_area :description, required: true %><br>

  <%= f.submit %>
<% end %>
