<div id="group-name-container">
  <h3 class="header"><%= @prayer.group.name %></h3>
</div>
<div>
  <h1 class="header"><%= @prayer.title %></h1>
</div>
<div>
  <h4 class="header">Details</h4>
  <h1 class="header">&ldquo; <%= @prayer.description %> &rdquo;</h1>
</div>

<div>
  <table class="table">
    <thead>
      <tr><th class="header">Comments</th></tr>
    </thead>
    <tbody>
      <% @prayer.comments.each do |comment| %>
        <tr>
          <td><%= image_tag(comment.user.image, class: "img-circle") %> &ldquo;<%= comment.description %>&rdquo;</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div>
<%= form_for [@prayer, @comment], html: { class: "form-inline" } do |f| %>
  <div class="form-group">
  <%= f.label :comment, class: "col-sm-4 control-label header" %>
    <div class="col-md-6">
      <%= f.text_field :description, required: true, class: "form-control"%><br>
    </div>
  </div>
  <div class="form-group">
      <%= f.submit 'submit', class: 'btn btn-default' %>

  </div>
<% end %>
</div>
<div class="page-links-container">
  <%= link_to "back", group_path(@prayer.group.id)%>
</div>


