<!DOCTYPE html>
<html>
<head>
  <title>PrayerRequests</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
  <% if current_user %>
    signed in as <img src="<%=current_user.image%>" class="avatar"><strong><%= current_user.name %></strong>!
    <%= link_to "sign out", signout_path, id: "sign_out" %>
  <% else %>
    <%= link_to "sign in with Facebok", "/auth/facebook", id: "sign_in" %>
  <% end %>
</div>
  <% if flash.any? %>
    <%= flash[:notice] %>
  <% end %>

  <%= yield %>

</body>
</html>
